/* kv section */
.kv {
    margin-top: 114px; /* space for header */
    background-image: linear-gradient(to bottom, rgba(0, 0, 0, 0.7) 0%, rgba(0, 0, 0, 0.7) 100%), url(/assets/img/kv-bg.png);
    background-repeat: no-repeat;
    background-size: cover;
}

.kv__wrapper {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 150px 40px;
    text-align: center;
}

.kv__heading {
    max-width: 550px;
}

.kv__text {
    margin: 20px 0 60px 0;
}