/* Projects section */
.projects{
    position: relative;
    overflow: hidden;
}

.projects::before {
    position: absolute;
    content: '';
    background: url(/assets/img/projects-bg.png);
    background-repeat: no-repeat;
    background-size: auto 520px;
    background-position: center right;
    width: 250vw;
    height: 100%;
    top: 68px;
    right: -300px;
    opacity: 1;
    transition: opacity 250ms ease-in;
}

.projects__wrapper {
    position: relative;
    padding: 90px 40px;
    text-align: center;
    z-index: 2;
}

.projects__text {
    margin: 16px 0 35px 0;
    transition: color 250ms ease-in-out;
}

.projects__content {
    text-align: left;
}

.projects__item {
    display: flex;
    align-items: center;
    transition: padding 250ms ease-in;
}

.projects__item:not(:last-child) {
    margin-bottom: 20px;
}

.projects__item:hover {
    padding-left: 10px;
}

.projects__icon {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 66px;
    height: 66px;
    border: 2px solid var(--clr-black);
    border-radius: 50%;
    margin-right: 20px;
    transform:scale(1);
    transition: transform 250ms ease-in,
                margin 250ms ease-in;
}

.projects__item .projects__text {
    margin: 0;
}

/* Projects media queries */
@media (max-width: 1180px) {
    .projects::before {
        opacity: 0.1;
    }
}

@media (max-width: 1024px) {
    .projects__text {
        color: var(--clr-gray--dark);
    }
}

@media (max-width: 768px) {
    .projects__icon {
        transform:scale(0.75);
        margin-right: 5px;
    }

    .projects__content {
        display: flex;
        flex-direction: column;
        align-items: center;
        text-align: center;
    }

    .projects__item {
        flex-direction: column;
        text-align: center;
    }

    .projects__text br {
        display: none;
    }

    .projects__features {
        margin-bottom: 20px;
    }
}

@media (max-width: 480px) {
    .projects__item:not(:last-child) {
        margin-bottom: 5px;
    }
}